.App {
  margin: 0px auto;
  box-shadow: 0 3px 5px -2px rgb(0, 0, 0);
}

.Container {
  text-align: left;
}

.Header {
  padding: 5px 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 165, 0);
  box-shadow: 0 2px 5px -2px rgb(0, 0, 0);
}

.Search {
  padding: 0px 30px 20px 30px;
}

.SearchTitle {
  font-weight: bold;
}

.Results {
  padding: 20px 30px 20px 30px;
}

.TabContent {
  margin-top: 15px;
}

.nav-tabs .nav-link {
  color: rgb(47, 165, 0);
}

th {
  font-weight: normal;
  color: rgb(146, 146, 146);
}

.Cancelled {
  color: rgb(255, 0, 0);
}

.LatestTime {
  margin: 0;
  color: rgb(255, 0, 0);
}

.ScheduleTime {
  margin: 0;
  font-size: 12px;
}